# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
*.tsbuildinfo
*.js.map
*.d.ts

# dependencies
node_modules
.pnp
.pnp.js

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
npm-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Nx
.nx/cache
.nx/installation
.nx/.cache
.nx/tmp
nx-cloud.env
*.nxt

# Dependency lock files to ignore temporarily while developing
# Uncomment these lines only if you specifically need to ignore these in your workflow
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Testing
/coverage
/.nyc_output
/.jest-cache
/libpeerconnection.log

# Build tools
/.webpack
/.serverless
/.next
/.vercel
/.netlify

# Generated
generated
static
*.html
reports
junit.xml
storybook-static
dep-graph.html
.swc/

# Framework-specific
# Angular
.angular

# React / Next.js
.next/
build/
out/

# Logs
logs
*.log

# Local History
.history/

# Cache
.eslintcache
.stylelintcache

# Turborepo
.turbo 